.avatar {
    width: 100px;
    height: 100px;
    padding-top: 20px;
}

.icon-profil {
    display: inline;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.card-footer a{
    color: inherit;
}